@import '../../base/index.scss';
.about {
  padding-top: $MagicNumber;
}
.title,
.subTitle {
  color: #ff4438;
}
.subTitle {
  @include fontSizeXL;
  padding: $MagicNumber / 2 0 $MagicNumber / 6 0;
}

.intro {
  display: flex;

  //   .text,
  .imageWrapper {
    width: 40%;
    height: fit-content;

    .image {
      padding-left: $MagicNumber / 3;
      height: auto;
      min-height: 100%;
      max-width: 100%;
    }
  }

  .text {
    @include fontSize2XL;
    font-weight: 300;
    width: 60%;
    padding: $MagicNumber / 2 0;
  }

  .appearancesRows {
    padding-bottom: $MagicNumber * 2;
  }
}
.copy {
  @include fontSizeLarge;
  color: #224;
}
