@import '../../base/index.scss';
.about {
  padding-top: $MagicNumber;
}
.title,
.subTitle {
  color: #ff4438;
}
.subTitle {
  @include fontSizeXL;
  padding: $MagicNumber / 2 0 $MagicNumber / 6 0;
}

.intro {
  display: flex;
  align-items: center;

  //   .text,
  .imageWrapper {
    width: 40%;
    height: fit-content;

    .image {
      padding-left: $MagicNumber / 3;
      height: auto;
      min-height: 100%;
      max-width: 100%;
    }
  }

  .text {
    @include fontSize2XL;
    font-weight: 300;
    width: 60%;
    padding: $MagicNumber / 2 0;
  }

  @media screen and (max-width: 700px) {
    flex-direction: column-reverse;

    .imageWrapper {
      width: 100vw;
      height: 30vh;
      overflow: hidden;
      object-position: center;
      object-fit: cover;
      display: flex;
      align-items: center;

      .image {
        padding: 0;
        // margin-left: -$MagicNumber/3;
        width: 100vw;
        height: auto;
      }
    }
    .text {
      width: 100%;
    }
  }
}

.copy {
  @include fontSizeLarge;
  font-weight: 300;
  color: #224;
  a {
    color: #01f;
  }
}

.hack {
  padding-bottom: $MagicNumber/10;
  .hackCopy,
  .title {
    display: inline;
    @include fontSizeLarge;
  }
  .hackCopy {
    display: inline;
    @include fontSizeLarge;
    color: #224;
  }
  @media screen and (max-width: 1060px) {
    padding-bottom: $MagicNumber/6;
    .hackCopy {
      display: block;
      @include fontSizeNormal;
    }

    .hyphen {
      display: none;
    }
    // a {
    //   display: block;
    // }
  }
}
