@import '../../base/index.scss';
.root {
  width: 100%;
  padding: 2vw;
  text-align: center;
  position: relative;

  .imageWrapper {
    width: 100%;
    top: 0;
    left: 0;

    object-fit: contain;
    transition: all 150ms ease;
    overflow: hidden;
    box-shadow: $MagicNumber/4 $MagicNumber/4 $MagicNumber
      rgba($colorBlack, 0.4);

    img {
      display: block;
      width: 100%;
      height: 100%;
      transition: all 150ms ease;
    }
  }
  .projectName {
    padding-top: $MagicNumber/6;
    font-weight: 300;
    margin: 0;
  }
  .projectRole {
    margin-top: -0.7rem;
    font-weight: 300;
    color: #999;
  }

  @media screen and (max-width: 900px) {
    .projectName {
      font-size: $fontSizeLarge * 0.9;
    }
    .projectRole {
      @include fontSizeNormal;
    }
  }
  &:hover {
    .imageWrapper {
      border: $MagicNumber/6 solid $colorRed;
      img {
        transform: scale(1.1);
      }
    }
  }
}
