.root {
  nav {
    ul {
      display: flex;
      li {
        padding: 0.5rem 2rem;
        font-size: 1.5rem;
        color: #224;
        a:hover {
          text-decoration: line-through;
        }
        &:first-child {
          padding-left: 0;
        }
        &:nth-child(2) {
          padding-left: 0;
          margin-left: auto;
        }
      }
      .projects {
        max-width: 15rem;
      }
    }
  }
}
