@import '../../base/index.scss';

.root {
  .footerNav {
    background-color: #fff;
    bottom: 0;
    border-top: 1px solid $colorRed;
    position: fixed;
    transition: transform 300ms;
    width: 100vw;
    z-index: 10;

    ul {
      display: flex;
      li {
        @include fontSizeLarge;
        height: $MagicNumber;
        text-align: center;
        flex-grow: 1;

        button {
          @include fontSizeLarge;
          font-weight: 400;
          color: $colorRed;
          border: none;
          background-color: transparent;
          width: 100%;
          height: 100%;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;

          &::after {
            content: '';
            position: absolute;
            z-index: -1;
            left: 0;
            bottom: 0;
            height: 0;
            width: 100%;
            background: $colorRed;
            transition: all 300ms;
          }
          &:hover {
            color: $colorWhite;
            transition: all 300ms;
            &::after {
              height: 100%;
            }
          }
          // &::after
        }
      }
      .menuButton {
        max-width: 30%;
        border-right: 1px solid $colorRed;
      }
    }
  }
}
