@import '../../base/index.scss';

.title,
.subTitle {
  color: #ff4438;
}
.subTitle {
  font-size: 1.5rem;
  padding: $MagicNumber / 2 0 $MagicNumber / 6 0;
}

.intro {
  display: flex;

  //   .text,
  .image {
    width: 40%;
  }
  .text {
    @include fontSize2XL;
    font-weight: 300;
    width: 60%;
    padding: $MagicNumber / 2 0;
  }
}

.copy {
  font-size: 1.4rem;
  color: #224;
}

.appearancesRows {
  padding-bottom: $MagicNumber * 2;
}
