@import '../../base/index.scss';
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $colorRed;
  justify-content: center;
  height: calc(100vh - 60px);
  .phone,
  .mail {
    @include fontSize4XL;
  }

  .social {
    padding-top: $MagicNumber * 2;
    @include fontSizeXL;
    a {
      padding: 0 $MagicNumber;
    }
    display: flex;
    @media screen and (max-width: 700px) {
      a {
        padding: 0 30px;
      }
    }
    @media screen and (max-width: 550px) {
      flex-direction: column;
      align-items: center;
    }
  }
}
