@import '../../base/index.scss';

.navigationMenuWrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;

  transition-duration: 500ms;
  background-color: $colorWhite;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  nav {
    ul {
      li {
        text-align: center;
        a {
          @include interFont;
          color: transparent;
          background-position: 0 0;
          font-size: 10vw;
          line-height: 1;
          font-weight: 600;
          color: transparent;
          transition: all 600ms;
          -webkit-text-stroke: 2px $colorRed;
          background-image: -webkit-linear-gradient(
            top,
            $colorWhite 50%,
            $colorRed 0
          );
          background-size: 100% 200%;
          -webkit-text-fill-color: transparent;
          -webkit-background-clip: text;
          background-position: 0 0;
          &:hover {
            background-position: 0 100%;
            text-decoration: none;
          }
        }
      }
    }
  }
  .closeButton {
    position: absolute;
    bottom: $MagicNumber * 2;
    width: $MagicNumber;
    height: $MagicNumber;
    left: 5vw;
    span {
      background-color: $colorRed;
      display: block;
      position: absolute;
      height: $MagicNumber/1;
      width: $MagicNumber/20;
      transition: transform 100ms;

      &:first-child {
        transform: rotate(45deg);
      }
      &:nth-child(2) {
        transform: rotate(-45deg);
      }
    }
    &:hover {
      span {
        &:first-child {
          transform: rotate(40deg);
        }
        &:nth-child(2) {
          transform: rotate(-50deg);
        }
      }
    }
  }
}
