@import '../../base/index.scss';

.root {
  .filter {
    padding: 10vh 0 5vh 0;
    display: flex;
    justify-content: center;
    .alternative {
      padding: 0 $MagicNumber / 2;
      @include redStrokeFont;
      @include fillRedOnHover;
      @include fontSize2XL;
      -webkit-text-stroke-width: 1px;
      cursor: pointer;
    }
  }
  .projects {
    // min-width: 100%;
    // height: 30vw;
    // margin: auto;

    padding: 5vh 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    // overflow-y: visible;
  }
}
